name: Cache
on:
  push:
    branches:
      - main
    paths:
      - "**/*.swift"
      - ".github/workflows/*.yml"
  pull_request:
    paths:
      - "**/*.swift"
      - ".github/workflows/*.yml"

concurrency:
  group: Cache-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  MISE_EXPERIMENTAL: 1
  TUIST_CONFIG_TOKEN: ${{ secrets.TUIST_CONFIG_CLOUD_TOKEN }}

jobs:
  warm:
    name: Warm
    strategy:
      matrix:
        os:
          - macOS-14
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: jdx/mise-action@v2
        with:
          version: 2024.11.8
      - name: Install dependencies
        run: tuist install
      - name: Build
        run: tuist cache
