name: XcodeGraph
on:
  push:
    branches:
      - "**"
    tags-ignore:
      - "**"
    paths:
      - "**/*.swift"
      - ".github/workflows/*.yml"
  pull_request:
    paths:
      - "**/*.swift"
      - ".github/workflows/*.yml"

concurrency:
  group: XcodeGraph-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  MISE_EXPERIMENTAL: 1
  TUIST_CONFIG_TOKEN: ${{ secrets.TUIST_CONFIG_CLOUD_TOKEN }}

jobs:
  spm_test:
    name: SPM Test
    strategy:
      matrix:
        os:
          - ubuntu-22.04
          - macos-15
        swift-version:
          - "6.0.3"
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - name: Setup Swift
        if: matrix.os == 'ubuntu-22.04'
        uses: SwiftyLab/setup-swift@latest
        with:
          swift-version: ${{ matrix.swift-version }}
      # DEBUG mode
      - name: Build with debug mode.
        id: debug_build
        run: swift build --configuration debug
        continue-on-error: true
      - name: Retry build with debug mode if necessary
        if: steps.debug_build.outcome == 'failure'
        run: |
          swift build --configuration debug
      - name: Test on Linux
        if: matrix.os == 'ubuntu-22.04'
        # XcodeProjMapper relies on some Xcode utilities like xcode-select
        run: swift test --skip XcodeProjMapperTests
      - name: Test
        if: matrix.os != 'ubuntu-22.04'
        run: swift test
  spm_build:
    name: SPM Build
    strategy:
      matrix:
        os:
          - ubuntu-22.04
          - macos-15
        swift-version:
          - "6.0.3"
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - name: Setup Swift
        if: matrix.os == 'ubuntu-22.04'
        uses: SwiftyLab/setup-swift@latest
        with:
          swift-version: ${{ matrix.swift-version }}
      # DEBUG mode
      - name: Build with debug mode.
        id: debug_build
        run: swift build --configuration debug
        continue-on-error: true
      - name: Retry build with debug mode if necessary
        if: steps.debug_build.outcome == 'failure'
        run: |
          swift build --configuration debug
      # RELEASE mode
      - name: Build with release mode.
        id: release_build
        run: swift build --configuration release
        continue-on-error: true
      - name: Retry build with release mode if necessary
        if: steps.release_build.outcome == 'failure'
        run: |
          swift build --configuration release
  lint:
    name: Lint
    strategy:
      matrix:
        os:
          - macos-15
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: jdx/mise-action@v2
        with:
          version: 2024.11.8
      - name: Lint
        run: mise run lint
